.card {
    background: #fff;
    border-radius: 2px;
    height: 75px;
    margin: 1rem;
    position: relative;
    width: 75px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }

  img {
    height: 75px;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  }

  .card > .img-container > img {
    margin-top: 2%;
    width: 60%;
    height: 75%
  }

  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  
 


